<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">mesmith.io</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="{{ page.home }}"><a href="/" title="Home">Home</a></li>
              <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li>
              <li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
