<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><img class="img-rounded project-icon-sm" src="/images/icon@2x.png" alt="simplewod icon"></img>      SimpleWOD</h3>
          <nav>
            <ul class="nav masthead-nav">
              <!--<li class="{{ page.home }}"><a href="/simplewod/">Home</a></li>-->
              <!--<li class="{{ page.features }}"><a href="/features">Features</a></li>-->
              <!--<li class="{{ page.contact }}"><a href="/simplewod/contact">Contact</a></li>-->
            </ul>
          </nav>
        </div>
      </div>
